body {
    text-align: right;
    font-family: comic sans ms;
    background-color: #e76108;
    color: #1a1a1a;
    margin-left: 20px;
}
h2 {
    color: #40e0d0; /* turquoise */
    font-size: 300%;
}
li {
    font-size: 0.7em;
}
.message-accueil {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff00ee;
    text-decoration: underline;
    padding: 10px;
}

.box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    position: relative;  /* nécessaire pour ::before */
    overflow: hidden;    
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;                     
    background-image: url("img/Orange_Yoshi.jpg");
    background-size: 150% 100%;       
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;                    
    z-index: -1;                       /* derrière contenu */
}


.presentation {
    color: #2dff45;
    font-style: bold;
}

.stretched {
    display: block;
    width: 100%;
    height: 25vh;       
    object-fit: fill;   
}